# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/build/
/dist/

# The settings for the netbeans IDE for this project
/nbproject/private/*

# Windows ini file
/desktop.ini


# Ignore the references folder
/DevStuff/References/*

# Ignore the image files created by the program during testing
/DevStuff/Rambley4J Tests/*
Rambley4J/dist/README.TXT
